{% extends "_base_public.html" %}
{% load user_filters %}
{% load static %}
{% load thumbnail %}

{% block content %}


    <div class="max-w-3xl mx-auto">
        <div class="h-9"></div>
        <div class=" p-10">

            <h1 class="text-5xl font-bold">{{ news_detail.title }}</h1>
            <div class="h-9"></div>
            <p class="text-lg text-stone-950">{{ news_detail.full_text }}</p>
                <div class="h-9"></div>

                  {% thumbnail news_detail.image "768x540" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                        {% empty %}
                            {% with 'http://'|add:request.get_host|add:STATIC_URL|add:'images/intelect-image.jpg' as path %}
                                {% thumbnail path "768x540" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            {% endwith %}
                        {% endthumbnail %}
            <div class="p-1 flex-row flex pt-10">
                <a class="flex flex-row text-md" href="">Поделиться </a> <img src="{% static 'images/share.svg' %}"
                                                                              alt="">
                <div class="ml-auto">
                    <span>{{ news_detail.datetime_pub|date:"j M Y" }} •</span>
                    <span>{{ news_detail.views }}
                        {% if news_detail.views == 1 %}
                            просмотр
                        {% elif news_detail.views < 5 %}
                            просмотра
                        {% else %}
                            просмотров
                        {% endif %}
                                </span>

                </div>
            </div>

        </div>
    </div>
    <div class="h-9"></div>

    <div class="h-9"></div>
    <div class="h-9"></div>



{% endblock content %}